*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}
body
{
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 15px;
}
.container
{
  position: relative;
  max-width: 500px;
  max-height: 500px;
  width: 100%;
}
.slider_control-item
{
  width: 30px;
  height: 70px;
  top: calc(50% - 35px);
  border-radius: 5px;
}
.slider_control-item::before
{
  position: absolute;
  content: '\25C1';
  color: #fff;
  font-size: 1.5em;
  width: 100%;  
  text-align: center;
  transform:translateY(16px);
}
.slider_control-item.next::before
{
  content: '\25B7';
}
.slider_container
{
  border-radius: 10px;
  box-shadow: 10px 10px 20px #222;
}

